@using FastKala.Application.Interfaces.Product
@inject IProductService productService
@using FastKala.Utilities

<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewData["Title"] -  فست ادمین</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="robots" content="noindex,nofollow">

    <!-- Favicons -->
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Vendor CSS Files -->
    <link href="~/lib/bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet">
    <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/local.css" rel="stylesheet">
    @await RenderSectionAsync("Styles", false)
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center ps-3">
                <img src="~/img/logo.png" alt="" width="25" height="26">
                <span class="d-none d-lg-block">FastAdmin</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->

        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#">
                <input type="text" name="query" placeholder="Search" title="Enter search keyword">
                <button type="submit" title="Search"><i class="bi bi-search"></i></button>
            </form>
        </div><!-- End Search Bar -->

        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <a class="btn btn-outline-primary me-4" type="button" asp-area="" asp-controller="Home" asp-action="Index">مشاهده سایت</a>

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->

                <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-bell"></i>
                        <span class="badge bg-primary badge-number">4</span>
                    </a><!-- End Notification Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                        <li class="dropdown-header">
                            You have 4 new notifications
                            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-exclamation-circle text-warning"></i>
                            <div>
                                <h4>Lorem Ipsum</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>30 min. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-x-circle text-danger"></i>
                            <div>
                                <h4>Atque rerum nesciunt</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>1 hr. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-check-circle text-success"></i>
                            <div>
                                <h4>Sit rerum fuga</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>2 hrs. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="notification-item">
                            <i class="bi bi-info-circle text-primary"></i>
                            <div>
                                <h4>Dicta reprehenderit</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>4 hrs. ago</p>
                            </div>
                        </li>

                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-footer">
                            <a href="#">Show all notifications</a>
                        </li>

                    </ul><!-- End Notification Dropdown Items -->

                </li><!-- End Notification Nav -->

                <li class="nav-item dropdown">

                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-chat-left-text"></i>
                        <span class="badge bg-success badge-number">2</span>
                    </a><!-- End Messages Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                        <li class="dropdown-header">
                            You have 3 new messages
                            <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="~/img/messages-1.jpg" alt="" class="rounded-circle lazyload">
                                <div>
                                    <h4>Maria Hudson</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>4 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="~/img/messages-2.jpg" alt="" class="rounded-circle lazyload">
                                <div>
                                    <h4>Anna Nelson</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>6 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="message-item">
                            <a href="#">
                                <img src="~/img/messages-3.jpg" alt="" class="rounded-circle lazyload">
                                <div>
                                    <h4>David Muldon</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>8 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li class="dropdown-footer">
                            <a href="#">Show all messages</a>
                        </li>

                    </ul><!-- End Messages Dropdown Items -->

                </li><!-- End Messages Nav -->

                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="~/img/apple-touch-icon.png" alt="Profile" class="rounded-circle" width="36" height="36">
                        <span class="d-none d-md-block dropdown-toggle ps-2">A. Jebali</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>Ali Jebali</h6>
                            <span>طراح سایت</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                <i class="bi bi-person"></i>
                                <span>پروفایل</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                <i class="bi bi-gear"></i>
                                <span>تنظیمات</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                                <i class="bi bi-question-circle"></i>
                                <span>کمک؟</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" asp-controller="Account" asp-action="Logout">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>خروج</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">
                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="nav-link @Html.ActiveClass("Home",null,"","collapsed")">
                    <i class="bi bi-grid"></i>
                    <span>داشبورد</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link @Html.ActiveClass("Products",null,"","collapsed")" data-bs-target="#products-nav" data-bs-toggle="collapse" asp-area="Admin" asp-controller="Products" asp-action="Index">
                    <i class="bi bi-menu-button-wide"></i><span>محصولات</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="products-nav" class="nav-content collapse @Html.ActiveClass("Products",null,"show","")" data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-area="Admin" asp-controller="Products" asp-action="Index" class="@Html.ActiveClass("Products","Index")">
                            <i class="bi bi-circle"></i><span>محصولات</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Products" asp-action="NewProduct" class="@Html.ActiveClass("Products","NewProduct")">
                            <i class="bi bi-circle"></i><span>افزودن محصول</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Products" asp-action="Attributes" class="@Html.ActiveClass("Products","Attributes")">
                            <i class="bi bi-circle"></i><span>ویژگی ها</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Products" asp-action="Categories" class="@Html.ActiveClass("Products","Categories")">
                            <i class="bi bi-circle"></i><span>دسته بندی ها</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Products" asp-action="Tags" class="@Html.ActiveClass("Products","Tags")">
                            <i class="bi bi-circle"></i><span>برچسب ها</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Products" asp-action="Brands" class="@Html.ActiveClass("Products","Brands")">
                            <i class="bi bi-circle"></i><span>برند ها</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Products" asp-action="Comments" class="@Html.ActiveClass("Products","Comments")">
                            <i class="bi bi-circle"></i><span>نظرات</span>
                            @{
                                int count = await productService.GetUnVerifiedCommentsCount();
                                if (count > 0)
                                {
                                    <div class="badge bg-label-primary rounded-pill ms-auto" style="font-size:0.8rem !important">@count</div>
                                }
                            }
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link @Html.ActiveClass("Orders",null,"","collapsed")" data-bs-target="#orders-nav" data-bs-toggle="collapse" asp-area="Admin" asp-controller="Orders" asp-action="Index">
                    <i class='bi bi-box-seam'></i>
                    <span>سفارش ها</span>
                    <i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="orders-nav" class="nav-content collapse @Html.ActiveClass("Orders",null,"show","")" data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-area="Admin" asp-controller="Orders" asp-action="Index" class="@Html.ActiveClass("Orders","Index")">
                            <i class="bi bi-circle"></i><span>سفارش ها</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Orders" asp-action="AddOrder" class="@Html.ActiveClass("Orders","AddOrder")">
                            <i class="bi bi-circle"></i><span>ثبت سفارش جدید</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link @Html.ActiveClass("ShopSettings",null,"","collapsed")" data-bs-target="#shop-settings-nav" data-bs-toggle="collapse" asp-area="Admin" asp-controller="ShopSettings" asp-action="Index">
                    <i class="bi bi-cart-check"></i>
                    <span>تنظیمات فروشگاه</span>
                    <i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="shop-settings-nav" class="nav-content collapse @Html.ActiveClass("ShopSettings",null,"show","")" data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-area="Admin" asp-controller="ShopSettings" asp-action="Index" class="@Html.ActiveClass("ShopSettings","Index")">
                            <i class="bi bi-circle"></i><span>عمومی</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="ShopSettings" asp-action="Delivery" class="@Html.ActiveClass("ShopSettings","Delivery")">
                            <i class="bi bi-circle"></i><span>ارسال</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="ShopSettings" asp-action="Payment" class="@Html.ActiveClass("ShopSettings","Payment")">
                            <i class="bi bi-circle"></i><span>پرداخت</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link @Html.ActiveClass("Settings",null,"","collapsed")" data-bs-target="#settings-nav" data-bs-toggle="collapse" asp-area="Admin" asp-controller="Settings" asp-action="Index">
                    <i class="bi bi-gear"></i>
                    <span>تنظیمات</span>
                    <i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="settings-nav" class="nav-content collapse @Html.ActiveClass("Settings",null,"show","")" data-bs-parent="#sidebar-nav">
                    <li>
                        <a asp-area="Admin" asp-controller="Settings" asp-action="MainPage" class="@Html.ActiveClass("Settings","MainPage")">
                            <i class="bi bi-circle"></i><span>صفحه اصلی</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Settings" asp-action="Index" class="@Html.ActiveClass("Settings","Index")">
                            <i class="bi bi-circle"></i><span>عمومی</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Menu" asp-action="Index" class="@Html.ActiveClass("Settings","Index")">
                            <i class="bi bi-circle"></i><span>منو</span>
                        </a>
                    </li>
                    <li>
                        <a asp-area="Admin" asp-controller="Settings" asp-action="Users" class="@Html.ActiveClass("Settings","Users")">
                            <i class="bi bi-circle"></i><span>کاربران</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>

    </aside><!-- End Sidebar-->
    <main dir="rtl" id="main" class="main">
        @RenderBody()
    </main>
    <!-- ======= Footer ======= -->
    <!-- Spacer -->
    <div class="footer-spacer"></div>
    <!-- End Of Spacer -->
    <footer id="footer" class="footer">
        <div class="copyright">
            &copy; Copyright <strong><a href="https://jebali.ir">AJBoy</a></strong>. All Rights Reserved
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/lib/lazysizes/lazysizes.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/select2/js/select2.min.js"></script>

    <!-- Template Main JS File -->
    <script src="~/js/main-admin.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", false)
</body>

</html>