@page
@model FastKala.Pages.Admin.ProductsAttributes.Attributes.IndexModel

@{
    ViewData["Title"] = "ویژگی " + Model.Title;
    Layout = "~/Pages/Admin/_Layout.cshtml";
}

<h2>@Model.Title</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ProductAttributeValue.Name" class="control-label"></label>
                <input asp-for="ProductAttributeValue.Name" class="form-control" />
                <span asp-validation-for="ProductAttributeValue.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductAttributeValue.value" class="control-label"></label>
                <input asp-for="ProductAttributeValue.value" class="form-control" />
                <span asp-validation-for="ProductAttributeValue.value" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <input asp-page-handler="Add" type="submit" value="افزودن" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <table class="table table-striped bg-white border b-rounded">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductAttributeValues[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProductAttributeValues[0].value)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.ProductAttributeValues != null)
                {
                    foreach (var item in Model.ProductAttributeValues)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.value)
                            </td>
                            <td>
                                <form method="post">
                                    <a asp-page="./Edit" asp-route-id="@item.Id">ویرایش</a> |
                                    <button type="submit" asp-route-id="@item.Id" class="btn p-0 text-decoration-none remove-product" asp-page-handler="Delete">حذف</button>
                                </form>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>