@page "/Register"
@model RegisterModel
@{
    Layout = "/Pages/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "ثبت نام";
}

<div class="account-box">
    <div class="account-box-headline">
        <a asp-page="/Account/Login" class="login-ds">
            <span class="title">ورود</span>
            <span class="sub-title">به فست کالا</span>
        </a>
        <a class="register-ds active">
            <span class="title">ثبت نام</span>
            <span class="sub-title">در فست کالا</span>
        </a>
    </div>
    <div class="Login-to-account mt-4">
        <div class="account-box-content">
            <h4>ثبت نام در فست کالا</h4>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-account text-right">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-account-title">
                    <label asp-for="Input.Email">ایمیل / شماره موبایل</label>
                    <input type="text" class="number-email-input" asp-for="Input.Email" aria-required="true">
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-account-title">
                    <label asp-for="Input.Password">رمز عبور</label>
                    <input type="password" class="password-input" asp-for="Input.Password">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-auth-row">
                    <label class="ui-checkbox mt-1">
                        <input type="checkbox" name="login" id="remember">
                        <span class="ui-checkbox-check"></span>
                    </label>
                    <label for="remember" class="remember-me mr-0"><a asp-page="/Privacy">حریم خصوصی</a> و <a asp-page="/TermsAndConditions">شرایط قوانین </a>استفاده از سرویس های سایت فست کالا را مطالعه نموده و با کلیه موارد آن موافقم.</label>
                </div>
                <div class="form-row-account">
                    <button class="btn btn-primary btn-register">ادامه</button>
                </div>
            </form>
        </div>
    </div>
</div>

@*
<div class="row">
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div> *@