@using FastKala.Application.Interfaces.Global
@using FastKala.Application.ViewModels.Products
@using FastKala.Domain.Enums.Products
@using Microsoft.AspNetCore.Identity
@inject SignInManager<FastKalaUser> SignInManager
@inject UserManager<FastKalaUser> UserManager
@inject IUploadService _uploadService
@model ProductViewModel
@{
    ViewData["Title"] = Model.Product.Name;
    bool attributes = Model.ProductAttributes.Any();
}
<!-- arshive-product----------------------->

<div class="container-main">
    <div class="d-block">
        <div class="page-content page-row">
            <div class="main-row pt-2 pb-0">
                <div id="breadcrumb">
                    <i class="mdi mdi-home"></i>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">خانه</a></li>
                            @foreach (var item in Model.CategoryOrder)
                            {
                                <li class="breadcrumb-item"><a href="#">@item.Name</a></li>
                            }
                            <li class="breadcrumb-item active" aria-current="page">
                                <a asp-controller="Products" asp-action="Product" asp-route-id="@Model.Product.Id">
                                    @Model.Product.Name
                                </a>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg">
                    <div class="product type-product">
                        <div class="col-lg-5 col-xs-12 pr d-block" style="padding: 0;">
                            <section class="product-gallery">
                                <div class="gallery">
                                    <div class="gallery-item">
                                        <div>
                                            <ul class="gallery-actions">
                                                <li>
                                                    <a href="#" class="btn-option add-product-wishes">
                                                        <i class="mdi mdi-heart-outline"></i>
                                                        <span>محبوب</span>
                                                    </a>
                                                </li>
                                                <li class="option-social">
                                                    <a href="#" class="btn-option btn-option-social"
                                                       data-toggle="modal" data-target="#option-social">
                                                        <i class="mdi mdi-share"></i>
                                                        <span>اشتراک</span>
                                                    </a>
                                                    <!-- Modal-option-social -->
                                                    <div class="modal fade" id="option-social" tabindex="-1"
                                                         role="dialog" aria-labelledby="exampleModalCenterTitle"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered"
                                                             role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title"
                                                                        id="exampleModalCenterTitle">
                                                                        اشتراک گذاری
                                                                    </h5>
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="title">
                                                                        با استفاده از روش‌های زیر
                                                                        می‌توانید این صفحه را با دوستان خود به
                                                                        اشتراک بگذارید.
                                                                    </div>
                                                                    <form action="#" class="email-sharing">
                                                                        <h5 class="share-title">
                                                                            ارسال از طریق ایمیل
                                                                        </h5>
                                                                        <div class="input-group-sharing">
                                                                            <input type="email"
                                                                                   class="share-email-address form-control"
                                                                                   id="share-email">
                                                                            <button class="btn-send-email btn btn-primary"
                                                                                    type="submit">
                                                                                ارسال ایمیل
                                                                            </button>
                                                                        </div>
                                                                    </form>
                                                                    <div class="share-options">
                                                                        <div class="share-social-buttons text-center">
                                                                            <a href="#"
                                                                               class="share-social share-social-twitter">
                                                                                <i class="mdi mdi-twitter"></i>
                                                                            </a>
                                                                            <a href="#"
                                                                               class="share-social share-social-facebook">
                                                                                <i class="mdi mdi-facebook"></i>
                                                                            </a>
                                                                            <a href="#"
                                                                               class="share-social share-social-whatsapp">
                                                                                <i class="mdi mdi-whatsapp"></i>
                                                                            </a>
                                                                            <a href="#"
                                                                               class="share-social share-social-email-outline">
                                                                                <i class="mdi mdi-email-outline"></i>
                                                                            </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-share-col">
                                                                        <input class="ui-url-field" type="url"
                                                                               value="https://www.digikala.com/product/dkp-1672478"
                                                                               readonly="">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="option-alarm">
                                                    <a href="#" class="btn-option btn-option-alarm"
                                                       data-toggle="modal" data-target="#btn-option-alarm">
                                                        <i class="mdi mdi-bell-outline"></i>
                                                        <span>اطلاع‌رسانی</span>
                                                    </a>
                                                    <!-- Modal-option-alarm -->
                                                    <div class="modal fade" id="btn-option-alarm" tabindex="-1"
                                                         role="dialog" aria-labelledby="exampleModalCenterTitle"
                                                         aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered"
                                                             role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title"
                                                                        id="exampleModalCenterTitle">
                                                                        به من اطلاع بده
                                                                    </h5>
                                                                    <button type="button" class="close"
                                                                            data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="form-notification-title">
                                                                        از طریق:
                                                                    </div>
                                                                    <div class="form-auth-row">
                                                                        <label for="#" class="ui-checkbox mt-1">
                                                                            <input type="checkbox" value="1"
                                                                                   name="login" id="remember">
                                                                            <span class="ui-checkbox-check"></span>
                                                                        </label>
                                                                        <label for="remember"
                                                                               class="remember-me mr-0">
                                                                            ایمیل به
                                                                            info@digismart.com
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-auth-row">
                                                                        <label for="#" class="ui-checkbox mt-1">
                                                                            <input type="checkbox" value="1"
                                                                                   name="login" id="remember">
                                                                            <span class="ui-checkbox-check"></span>
                                                                        </label>
                                                                        <label for="remember"
                                                                               class="remember-me mr-0">
                                                                            پیامک به
                                                                            *******0991
                                                                        </label>
                                                                    </div>
                                                                    <div class="form-auth-row">
                                                                        <label for="#" class="ui-checkbox mt-1">
                                                                            <input type="checkbox" value="1"
                                                                                   name="login" id="remember">
                                                                            <span class="ui-checkbox-check"></span>
                                                                        </label>
                                                                        <label for="remember"
                                                                               class="remember-me mr-0">
                                                                            سیستم پیام شخصی
                                                                            کالامارکت
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button"
                                                                            class="btn btn-primary ml-2">
                                                                        ثبت
                                                                    </button>
                                                                    <button type="button" class="btn btn-secondary"
                                                                            data-dismiss="modal">
                                                                        بازگشت
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="Three-dimensional">
                                                    <a href="product-comparison.html"
                                                       class="btn-option btn-compare">
                                                        <i class="mdi mdi-compare"></i>
                                                        <span>مقایسه</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="gallery-item">
                                        <div class="gallery-img">
                                            <a href="#">
                                                <img class="zoom-img" id="img-product-zoom"
                                                     src="@_uploadService.GetImageUrl(FastKala.Application.ViewModels.Global.ImageType.ProductImages,Model.Product.MainImage)"
                                                     data-zoom-image="@_uploadService.GetImageUrl(FastKala.Application.ViewModels.Global.ImageType.ProductImages, Model.Product.MainImage)"
                                                     width="411" />
                                                <div id="gallery_01f" style="width:420px;float:right;">
                                            </a>
                                            @if (Model.ProductImages.Any())
                                            {
                                                <ul class="gallery-items owl-carousel owl-theme" id="gallery-slider">
                                                    <li class="item">
                                                        <a href="#" class="elevatezoom-gallery active" data-update=""
                                                           data-image="@_uploadService.GetImageUrl(FastKala.Application.ViewModels.Global.ImageType.ProductImages, Model.Product.MainImage)"
                                                           data-zoom-image="@_uploadService.GetImageUrl(FastKala.Application.ViewModels.Global.ImageType.ProductImages, Model.Product.MainImage)">
                                                            <img src="@_uploadService.GetImageUrl(FastKala.Application.ViewModels.Global.ImageType.ProductImages, Model.Product.MainImage)"
                                                                 width="100" />
                                                        </a>
                                                    </li>
                                                    @foreach (var item in Model.ProductImages)
                                                    {
                                                        <li class="item">
                                                            <a href="#" class="elevatezoom-gallery active" data-update=""
                                                               data-image="@_uploadService.GetImageUrl(FastKala.Application.ViewModels.Global.ImageType.ProductImages, item.ImageName)"
                                                               data-zoom-image="@_uploadService.GetImageUrl(FastKala.Application.ViewModels.Global.ImageType.ProductImages, item.ImageName)">
                                                                <img src="@_uploadService.GetImageUrl(FastKala.Application.ViewModels.Global.ImageType.ProductImages, item.ImageName)"
                                                                     width="100" />
                                                            </a>
                                                        </li>
                                                    }
                                                </ul>
                                            }
                                        </div>
                                    </div>
                                </div>
                        </div>
                        </section>
                    </div>
                    <div class="col-lg-7 col-xs-12 px-0 px-xs-2 pl mt-5 d-block">
                        <section class="product-info">
                            <div class="product-headline">
                                <h1 class="product-title">
                                    @Model.Product.Name
                                </h1>
                            </div>
                            <div class="product-attributes">
                                <div class="product-config">
                                    <span class="product-title-en">
                                        @Model.Product.EnglishName
                                    </span>
                                    <div class="product-rate">
                                        @for (int i = 1; i <= 5; i++)
                                        {
                                            if (i <= Model.Product.Rate)
                                            {
                                                <i class="fa fa-star active"></i>
                                            }
                                            else
                                            {
                                                <i class="fa fa-star"></i>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="product-config-wrapper">
                                <div class="product-directory">
                                    <ul>
                                        @if (Model.Categories.Any())
                                        {
                                            <li>
                                                <span>
                                                    <i class="fa fa-archive"></i> دسته‌بندی ها:
                                                </span>
                                                @foreach (var item in Model.Categories)
                                                {
                                                    <a href="#" class="product-link product-cat-title">@item.Name</a>
                                                    if (item != Model.Categories.Last())
                                                    {
                                                        @Html.Raw(",")
                                                    }
                                                }
                                            </li>
                                        }
                                        @if (Model.Tags.Any())
                                        {
                                            <li>
                                                <span>
                                                    <i class="fa fa-tags"></i> برچسب ها:
                                                </span>
                                                @foreach (var item in Model.Tags)
                                                {
                                                    <a href="#" class="product-link product-tag-title">@item.Name</a>
                                                    if (item != Model.Tags.Last())
                                                    {
                                                        <text>,</text>
                                                    }
                                                }
                                            </li>
                                        }
                                        @if (Model.Brand != null)
                                        {
                                            <li>
                                                <span>
                                                    برند:
                                                </span>
                                                <a href="#" class="product-link product-tag-title">@Model.Brand.Name</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <div class="col=lg-6 col-md-6 col-xs-12 pr">
                                    <div class="product-variants">
                                        <span>رنگ بندی: </span>
                                        <ul class="js-product-variants">
                                            <li class="ui-variant">
                                                <label for="#" class="ui-variant-color">
                                                    <span class="ui-variant-shape"
                                                          style="background-color: #56abef"></span>
                                                    <input type="radio" value="4" name="color" id="variant"
                                                           class="js-variant-selector" checked="">
                                                    <span class="ui-variant-check"></span>
                                                </label>
                                            </li>
                                            <li class="ui-variant">
                                                <label for="#" class="ui-variant-color">
                                                    <span class="ui-variant-shape"
                                                          style="background-color: #a97eca"></span>
                                                    <input type="radio" value="4" name="color" id="variant"
                                                           class="js-variant-selector">
                                                    <span class="ui-variant-check"></span>
                                                </label>
                                            </li>
                                            <li class="ui-variant">
                                                <label for="#" class="ui-variant-color">
                                                    <span class="ui-variant-shape"
                                                          style="background-color: #4e4c4c"></span>
                                                    <input type="radio" value="4" name="color" id="variant"
                                                           class="js-variant-selector">
                                                    <span class="ui-variant-check"></span>
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-params pt-3">
                                        <ul data-title="ویژگی‌های محصول">
                                            @foreach (var item in Model.Product.ProductFeatures)
                                            {
                                                <li>
                                                    <span>@item.TitleName: </span>
                                                    <span>@item.Value</span>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                                <div class="col=lg-6 col-md-6 col-xs-12 pr">
                                    <div class="product-seller-info mb-2">
                                        <div class="seller-info-changable">
                                            <div class="product-seller-row guarantee pt-1 d-flex justify-content-between align-items-center">
                                                <span class="title"> گارانتی :</span>
                                                @if (Model.ProductAttributes.Any(x => x.Name == "گارانتی"))
                                                {
                                                    <span class="product-name px-2 py-1 bg-white border rounded">@Model.ProductAttributes.Single(x => x.Name == "گارانتی").AttributeValues.First().Name</span>
                                                }
                                                else
                                                {
                                                    <span class="product-name px-2 py-1 bg-white border rounded">اصالت و سلامت فیزیکی</span>
                                                }
                                            </div>
                                            <div class="product-seller-row price">
                                                @if (Model.Product.Price != null)
                                                {
                                                    <span class="title"> قیمت :</span>
                                                    <span class="product-name amount">
                                                        @Model.Product.Price?.ToString("N0")
                                                        <span>تومان</span>
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="font-weight-bold">برای استعلام قیمت و ثبت سفارش تماس بگیرید</span>
                                                }
                                            </div>
                                            @if (Model.Product.Price == null)
                                            {
                                                <div class="product-seller-row">
                                                    <a href="tel:09393240340" class="btn-add-to-cart-contact btn btn-primary">
                                                        <span class="btn-add-to-cart-txt">مشاوره و خرید</span>
                                                    </a>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="product-seller-row guarantee">
                                                    <span class="title mt-3"> تعداد :</span>
                                                    <div class="quantity pl">
                                                        <input type="number" min="1" max="100" step="1" value="1" id="order-quantity">
                                                        <div class="quantity-nav">
                                                            <div class="quantity-button quantity-up">+</div>
                                                            <div class="quantity-button quantity-down">-</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="product-seller-row add-to-cart">
                                                    @if (SignInManager.IsSignedIn(User))
                                                    {
                                                        <a href="javascript:void(0);" class="btn-add-to-cart btn btn-primary" onclick="addToCart(@(Model.Product.Id), $('#order-quantity').val())">
                                                            <span class="btn-add-to-cart-txt">افزودن به سبد خرید</span>
                                                        </a>
                                                    }
                                                    else
                                                    {
                                                        <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="/Product/@Model.Product.Id" class="btn-add-to-cart btn btn-primary">
                                                            <span class="btn-add-to-cart-txt">افزودن به سبد خرید</span>
                                                        </a>
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="product-usp">
                        <div class="product-feature">
                            <div class="product-feature-col">
                                <a href="#" class="product-feature-item">
                                    <img src="/images/page-single-product/delivery.svg">
                                    امکان تحویل
                                    <br>
                                    اکسپرس
                                </a>
                            </div>
                            <div class="product-feature-col">
                                <a href="#" class="product-feature-item">
                                    <img src="/images/page-single-product/contact-us.svg">
                                    ۷ روز هفته
                                    <br>
                                    ۲۴ ساعته
                                </a>
                            </div>
                            <div class="product-feature-col">
                                <a href="#" class="product-feature-item">
                                    <img src="/images/page-single-product/payment-terms.svg">
                                    امکان
                                    <br>
                                    پرداخت در محل
                                </a>
                            </div>
                            <div class="product-feature-col">
                                <a href="#" class="product-feature-item">
                                    <img src="/images/page-single-product/return-policy.svg">
                                    هفت روز
                                    <br />
                                    ضمانت بازگشت کالا
                                </a>
                            </div>
                            <div class="product-feature-col">
                                <a href="#" class="product-feature-item">
                                    <img src="/images/page-single-product/origin-guarantee.svg">
                                    ضمانت
                                    <br>
                                    اصل بودن کالا
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabs">
            <div class="tab-box">
                <ul class="tab nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="Review-tab" data-toggle="tab" href="#Review" role="tab"
                           aria-controls="Review" aria-selected="true">
                            <i class="mdi mdi-glasses"></i>
                            نقد و بررسی
                        </a>
                    </li>
                    @if (attributes)
                    {
                        <li class="nav-item">
                            <a class="nav-link" id="Specifications-tab" data-toggle="tab" href="#Specifications"
                               role="tab" aria-controls="Specifications" aria-selected="false">
                                <i class="mdi mdi-format-list-checks"></i>
                                مشخصات
                            </a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" id="User-comments-tab" data-toggle="tab" href="#User-comments"
                           role="tab" aria-controls="User-comments" aria-selected="false">
                            <i class="mdi mdi-comment-text-multiple-outline"></i>
                            نظرات کاربران
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg">
                <div class="tabs-content">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="Review" role="tabpanel"
                             aria-labelledby="Review-tab">
                            <section class="content-expert-summary mb-0 pt-3">
                                <div class="mask pm-3">
                                    <div class="mask-text">
                                        @Html.Raw(Model.Product.Description)
                                    </div>
                                    @if (Model.Product.Description?.Length > 300)
                                    {
                                        <a href="#" class="mask-handler">
                                            <span class="show-more">+ ادامه مطلب</span>
                                            <span class="show-less">- بستن</span>
                                        </a>
                                        <div class="shadow-box"></div>
                                    }
                                </div>
                            </section>
                            <section class="content-expert-stats">
                                <div class="content-expert-evaluation">
                                    <div class="col-lg-4 col-md-4 col-xs-12 d-inline-block pr">
                                        @if (Model.Product.ProductProsCons.Where(x => x.IsPros == ProsConsType.Pros).Count() > 0)
                                        {
                                            <div class="positive">
                                                <span class="plus">نقاط قوت</span>
                                                <ul>
                                                    @foreach (var item in Model.Product.ProductProsCons.Where(x => x.IsPros == ProsConsType.Pros))
                                                    {
                                                        <li>
                                                            <i class="fa fa-plus-circle"></i>
                                                            @item.Text
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        }
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-xs-12 d-inline-block pr">
                                        @if (Model.Product.ProductProsCons.Where(x => x.IsPros == ProsConsType.Cons).Count() > 0)
                                        {
                                            <div class="negative">
                                                <span class="neg">نقاط قوت</span>
                                                <ul>
                                                    @foreach (var item in Model.Product.ProductProsCons.Where(x => x.IsPros == ProsConsType.Cons))
                                                    {
                                                        <li>
                                                            <i class="fa fa-minus-circle"></i>
                                                            @item.Text
                                                        </li>
                                                    }
                                                </ul>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </section>
                        </div>
                        @if (attributes)
                        {
                            <div class="tab-pane fade" id="Specifications" role="tabpanel"
                                 aria-labelledby="Specifications-tab">
                                <article>
                                    <h2 class="params-headline">
                                        مشخصات فنی
                                        <span>@Model.Product.EnglishName</span>
                                    </h2>
                                    <section>
                                        <ul class="params-list">
                                            @foreach (var item in Model.ProductAttributes)
                                            {
                                                <li class="params-list-item">
                                                    <div class="params-list-key">
                                                        <span class="block">@item.Name</span>
                                                    </div>
                                                    <div class="params-list-value">
                                                        <span class="block">
                                                            @foreach (var attrValue in item.AttributeValues)
                                                            {
                                                                if (attrValue != item.AttributeValues.Last())
                                                                {
                                                                    @(attrValue.Name + " , ")
                                                                }
                                                                else
                                                                {
                                                                    @attrValue.Name
                                                                }
                                                            }
                                                        </span>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </section>
                                </article>
                            </div>
                        }
                        <div class="tab-pane fade" id="User-comments" role="tabpanel"
                             aria-labelledby="User-comments-tab">
                            <div class="comments">
                                <h2 class="params-headline">
                                    امتیاز کاربران به
                                    <span>@Model.Product.Name</span>
                                </h2>
                                <div class="comments-summary">
                                    <div class="col-lg-6 col-md-6 col-xs-12 pr">
                                        <div class="comments-summary-box">
                                            @if (Model.Product.ProductComments.Count() > 0)
                                            {
                                                ProductCommentRatings commentRatings = (ProductCommentRatings)Math.Round(Model.Product.ProductComments.Average(x => (long)x.Quality));
                                                <ul class="comments-item-rating">
                                                    <li>
                                                        <span class="cell-title">کیفیت ساخت:</span>
                                                        <span class="cell-value">@commentRatings.ToDisplay()</span>
                                                        <div class="rating-general">
                                                            <div class="rating-value" style="width:@((int)commentRatings*20)%"></div>
                                                        </div>
                                                    </li>
                                                    @{
                                                        commentRatings = (ProductCommentRatings)Math.Round(Model.Product.ProductComments.Average(x => (long)x.Value));
                                                    }
                                                    <li>
                                                        <span class="cell-title">ارزش خرید به نسبت قیمت:</span>
                                                        <span class="cell-value">@commentRatings.ToDisplay()</span>
                                                        <div class="rating-general">
                                                            <div class="rating-value" style="width:@((int)commentRatings*20)%"></div>
                                                        </div>
                                                    </li>
                                                    @{
                                                        commentRatings = (ProductCommentRatings)Math.Round(Model.Product.ProductComments.Average(x => (long)x.Support));
                                                    }
                                                    <li>
                                                        <span class="cell-title">خدمات پس از فروش:</span>
                                                        <span class="cell-value">@commentRatings.ToDisplay()</span>
                                                        <div class="rating-general">
                                                            <div class="rating-value" style="width:@((int)commentRatings*20)%"></div>
                                                        </div>
                                                    </li>
                                                    @{
                                                        commentRatings = (ProductCommentRatings)Math.Round(Model.Product.ProductComments.Average(x => (long)x.Feature));
                                                    }
                                                    <li>
                                                        <span class="cell-title">امکانات و قابلیت ها:</span>
                                                        <span class="cell-value">@commentRatings.ToDisplay()</span>
                                                        <div class="rating-general">
                                                            <div class="rating-value" style="width:@((int)commentRatings*20)%"></div>
                                                        </div>
                                                    </li>
                                                    @{
                                                        commentRatings = (ProductCommentRatings)Math.Round(Model.Product.ProductComments.Average(x => (long)x.Usability));
                                                    }
                                                    <li>
                                                        <span class="cell-title">سهولت استفاده:</span>
                                                        <span class="cell-value">@commentRatings.ToDisplay()</span>
                                                        <div class="rating-general">
                                                            <div class="rating-value" style="width:@((int)commentRatings*20)%"></div>
                                                        </div>
                                                    </li>
                                                    @{
                                                        commentRatings = (ProductCommentRatings)Math.Round(Model.Product.ProductComments.Average(x => (long)x.Design));
                                                    }
                                                    <li>
                                                        <span class="cell-title">طراحی و ظاهر:</span>
                                                        <span class="cell-value">@commentRatings.ToDisplay()</span>
                                                        <div class="rating-general">
                                                            <div class="rating-value" style="width:@((int)commentRatings*20)%"></div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            }
                                            else
                                            {
                                                <ul class="comments-item-rating">
                                                    <li>
                                                        <span class="cell-title">کیفیت ساخت:</span>
                                                        <span class="cell-value">بدون امتیاز</span>
                                                        <div class="rating-general">
                                                            <div class="rating-value" style="width:0%"></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <span class="cell-title">ارزش خرید به نسبت قیمت:</span>
                                                        <span class="cell-value">بدون امتیاز</span>
                                                        <div class="rating-general">
                                                            <div class="rating-value" style="width:0%"></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <span class="cell-title">خدمات پس از فروش:</span>
                                                        <span class="cell-value">بدون امتیاز</span>
                                                        <div class="rating-general">
                                                            <div class="rating-value" style="width:0%"></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <span class="cell-title">امکانات و قابلیت ها:</span>
                                                        <span class="cell-value">بدون امتیاز</span>
                                                        <div class="rating-general">
                                                            <div class="rating-value" style="width:0%"></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <span class="cell-title">سهولت استفاده:</span>
                                                        <span class="cell-value">بدون امتیاز</span>
                                                        <div class="rating-general">
                                                            <div class="rating-value" style="width:0%"></div>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <span class="cell-title">طراحی و ظاهر:</span>
                                                        <span class="cell-value">بدون امتیاز</span>
                                                        <div class="rating-general">
                                                            <div class="rating-value" style="width:0%"></div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-xs-12 pr">
                                        <div class="comments-summary-note">
                                            <h6>شما هم می‌توانید در مورد این کالا نظر بدهید.</h6>
                                            <p>
                                                برای ثبت نظر، لازم است ابتدا وارد حساب کاربری خود شوید. اگر این
                                                محصول را قبلا از ما خریده باشید،
                                                نظر
                                                شما به عنوان مالک محصول ثبت خواهد شد.
                                            </p>
                                            <a asp-controller="Products" asp-action="AddComment" asp-route-id="@Model.Product.Id" class="btn-add-comment btn btn-secondary">
                                                افزودن نظر
                                                جدید
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-comment-list">
                                        <ul class="comment-list">
                                            @foreach (var item in Model.Product.ProductComments.Where(x => x.Status == CommentStatus.Verified))
                                            {
                                                <li>
                                                    <div class="col-lg-3 pr">
                                                        <section>
                                                            <div class="comments-user-shopping">
                                                                @item.UserName
                                                                <div class="cell-date">
                                                                    در تاریخ @item.SubmitDate.MiladiToPersian()
                                                                </div>
                                                                <div class="message-light">
                                                                    <i class="fa fa-thumbs-o-up"></i>خرید این محصول را
                                                                    توصیه می‌کنم
                                                                </div>
                                                            </div>
                                                        </section>
                                                    </div>
                                                    <div class="col-lg-9 pl">
                                                        <div class="article">
                                                            <ul class="comment-text">
                                                                <div class="header">
                                                                    <div>@item.Title</div>
                                                                    <div class="product-rate pl">
                                                                        @for (int i = 0; i < item.Rate; i++)
                                                                        {
                                                                            <i class="fa fa-star active"></i>
                                                                        }
                                                                        @for (int i = 0; i < (5 - item.Rate); i++)
                                                                        {
                                                                            <i class="fa fa-star"></i>
                                                                        }
                                                                    </div>
                                                                    <p>
                                                                        @item.Description
                                                                    </p>
                                                                </div>
                                                                <div class="comments-evaluation">
                                                                    @if (item.ProsCons.Any(x => x.IsPros == true))
                                                                    {
                                                                        <div class="comments-evaluation-positive">
                                                                            <span>نقاط قوت</span>
                                                                            <ul>
                                                                                @foreach (var advantage in item.ProsCons.Where(x => x.IsPros == true))
                                                                                {
                                                                                    <li>
                                                                                        @advantage.Title
                                                                                    </li>
                                                                                }
                                                                            </ul>
                                                                        </div>
                                                                    }
                                                                    @if (item.ProsCons.Any(x => x.IsPros == false))
                                                                    {
                                                                        <div class="comments-evaluation-negative">
                                                                            <span>نقاط قوت</span>
                                                                            <ul>
                                                                                @foreach (var advantage in item.ProsCons.Where(x => x.IsPros == false))
                                                                                {
                                                                                    <li>
                                                                                        @advantage.Title
                                                                                    </li>
                                                                                }
                                                                            </ul>
                                                                        </div>
                                                                    }
                                                                    <div class="footer">
                                                                        <div class="comments-likes">
                                                                            آیا این نظر برایتان
                                                                            مفید بود؟
                                                                            <button class="btn-like js-comment-like"
                                                                                    type="button" onclick="likeComment(@item.Id)">
                                                                                بله
                                                                                <span class="count" id="comment-like-@item.Id">@item.HelpedCount</span>
                                                                            </button>
                                                                            <button class="btn-like js-comment-dislike"
                                                                                    type="button" onclick="dislikeComment(@item.Id)">
                                                                                خیر
                                                                                <span class="count" id="comment-dislike-@item.Id">@item.NotHelpedCount</span>
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/client-pages/Product.js" asp-append-version="true"></script>
}