@using FastKala.Application.Interfaces.Global
@using FastKala.Application.ViewModels.Orders
@using Microsoft.AspNetCore.Identity
@inject SignInManager<FastKalaUser> SignInManager
@inject IUploadService uploadService
@model List<CartItemsViewModel>

@if (Model.Count < 1)
{
    <div class="container-main">
        <div class="d-block">
            <div class="main-row">
                <section class="cart-home">
                    <div class="post-item-cart d-block order-2">
                        <div class="content-page">
                            <div class="cart-form">
                                <div class="cart-empty text-center d-block">
                                    <div class="cart-empty-img mb-4 mt-4">
                                        <img src="~/images/shopping-cart.png">
                                    </div>
                                    <p class="cart-empty-title">سبد خرید شما در حال حاضر خالی است.</p>
                                    @if (!SignInManager.IsSignedIn(User))
                                    {
                                        <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="/cart" class="btn account-btn btn-primary">ورود به حساب کاربری</a>
                                    }
                                    <div class="return-to-shop">
                                        <a asp-controller="Home" asp-action="Index" class="backward btn btn-secondary">بازگشت به صفحه اصلی</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
}
else
{

    <div class="container-main">
        <div class="d-block">
            <div class="main-row">
                <div id="breadcrumb">
                    <i class="mdi mdi-home"></i>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">خانه</a></li>
                            <li class="breadcrumb-item active" aria-current="page">سبد خرید</li>
                        </ol>
                    </nav>
                </div>
                <section class="cart-home">
                    <div class="post-item-cart d-block order-2">
                        <div class="content-page">
                            <div class="cart-form">
                                <form action="#" class="c-form">
                                    <table class="table-cart cart table table-borderless">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="product-cart-name">نام محصول</th>
                                                <th scope="col" class="product-cart-price">قیمت</th>
                                                <th scope="col" class="product-cart-quantity">تعداد مورد نیاز</th>
                                                <th scope="col" class="product-cart-Total">مجموع</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr id="cartitem-@item.ProductId">
                                                    <th scope="row" class="product-cart-name">
                                                        <div class="product-thumbnail-img">
                                                            <a asp-controller="Products" asp-action="Product" asp-route-id="@item.ProductId">
                                                                <img src="@uploadService.GetImageUrl(ImageType.ProductImages,item.ProductImage)">
                                                            </a>
                                                            <div class="product-remove">
                                                                <a href="javascript:void(0)" class="remove" onclick="removeCartItem(@item.ProductId)">
                                                                    <i class="mdi mdi-close"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="product-title">
                                                            <a asp-controller="Products" asp-action="Product" asp-route-id="@item.ProductId">
                                                                @item.ProductName
                                                            </a>
                                                            <div class="variation">
                                                                <div class="variant-color">
                                                                    <span class="variant-color-title">سفید</span>
                                                                    <div class="variant-shape"></div>
                                                                </div>
                                                                <div class="variant-guarantee">
                                                                    <i class="mdi mdi-check"></i>
                                                                    گارانتی اصالت و سلامت فیزیکی
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </th>
                                                    <td class="product-cart-price">
                                                        <span class="amount" id="product-price-@item.ProductId">
                                                            @item.Price.ToString("N0")
                                                        </span>
                                                        <span>تومان</span>
                                                    </td>
                                                    <td class="product-cart-quantity">
                                                        <div class="required-number before">
                                                            <div class="quantity">
                                                                <input type="number" min="1" step="1" value="@item.Quantity" onkeyup="changeProductQuantity(this,@item.ProductId)" onchange="changeProductQuantity(this,@item.ProductId)">
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="product-cart-Total">
                                                        <span class="amount" id="total-amount-@item.ProductId">
                                                            @item.TotalPrice.ToString("N0")
                                                        </span>
                                                        <span>تومان</span>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </form>
                                <div class="cart-collaterals">
                                    <div class="totals d-block">
                                        <h3 class="Total-cart-total">مجموع کل سبد خرید</h3>
                                        <div class="checkout-summary">
                                            <ul class="checkout-summary-summary">
                                                <li class="cart-subtotal">
                                                    <span class="amount">قیمت کل</span>
                                                    <span id="total-without-shipping"> @Model.Sum(x => x.TotalPrice).ToString("N0") تومان</span>
                                                </li>
                                                <li class="discount-code">
                                                    <div class=" align-items-center">
                                                        <div class="col-md-7 pr mt-5">
                                                            <div class="coupon">
                                                                <form action="#">
                                                                    <input type="text" name="input-coupon"
                                                                           class="input-coupon-code"
                                                                           placeholder="كد تخفیف:">
                                                                    <button class="btn btn-coupon"
                                                                            type="submit">
                                                                        اعمال
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-2 pl mt-5">
                                                            <div class="proceed-to-checkout">
                                                                <a asp-controller="Order" asp-action="Checkout" class="checkout-button d-block">
                                                                    تسویه
                                                                    حساب
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/client-pages/cart.js" asp-append-version="true"></script>
}