@using FastKala.Application.ViewModels.Products
@using FastKala.Domain.Enums.Products
@model ProductViewModel
@{
    ViewData["Title"] = "افزودن محصول";
}

<form class="row" method="post" id="addproductform" enctype="multipart/form-data">
    <div class="col-9">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <!--Product Name-->
        <div class="card p-3 my-2">
            <div class="form-group">
                <label asp-for="Product.Name" class="form-label"></label>
                <input asp-for="Product.Name" class="form-control" />
                <span asp-validation-for="Product.Name" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Product.EnglishName" class="form-label"></label>
                <input asp-for="Product.EnglishName" class="form-control" />
                <span asp-validation-for="Product.EnglishName" class="text-danger"></span>
            </div>
        </div>
        <!--End Of Product Name-->
        <div class="form-group">
            <textarea asp-for="Product.Description" class="tinymce-editor"></textarea>
            <span asp-validation-for="Product.Description" class="text-danger"></span>
        </div>
        <div class="accordion my-2" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#product-features" aria-expanded="true" aria-controls="product-features">
                        ویژگی های محصول
                    </button>
                </h2>
                <div id="product-features" class="accordion-collapse collapse">
                    <div class="accordion-body w-50">
                        <div id="features" class="form-group">
                        </div>
                        <input id="addFeatureButton" class="btn btn-primary" type="button" value="افزودن ویژگی" />
                    </div>
                </div>
            </div>
        </div> @* Product Features *@
        <div class="accordion my-2" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#product-pros-cons" aria-expanded="true" aria-controls="product-pros-cons">
                        نقاط قوت و ضعف
                    </button>
                </h2>
                <div id="product-pros-cons" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div class="row">
                            <div id="product-pros" class="form-group col-6">
                                <label class="form-label">نقاط قوت</label>
                                <div class="input-group mb-2">
                                    <input class="form-control" name="ProductPros[0]" type="text" />
                                    <input id="addProductPros" class="btn btn-primary" type="button" value="+" />
                                </div>
                            </div>
                            <div id="product-cons" class="form-group col-6">
                                <label class="form-label">نقاط ضعف</label>
                                <div class="input-group mb-2">
                                    <input class="form-control" name="ProductCons[0]" type="text" />
                                    <input id="addProductCons" class="btn btn-danger" type="button" value="+" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> @* Product Pros and Cons *@
        <div class="accordion my-2" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#product-info" aria-expanded="true" aria-controls="product-info">
                        اطلاعات محصول
                    </button>
                </h2>
                <div id="product-info" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <div class="d-flex align-self-start">
                            <div class="nav flex-column nav-pills me-3" style="min-width:15%;" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <button class="nav-link active" id="v-pills-productInfo-tab" data-bs-toggle="pill" data-bs-target="#v-pills-productInfo" type="button" role="tab" aria-controls="v-pills-productInfo" aria-selected="true">اطلاعات کلی</button>
                                <button class="nav-link" id="v-pills-features-tab" data-bs-toggle="pill" data-bs-target="#v-pills-features" type="button" role="tab" aria-controls="v-pills-features" aria-selected="false">ویژگی های اصلی</button>
                            </div>
                            <div class="tab-content w-100 ms-2" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-productInfo" role="tabpanel" aria-labelledby="v-pills-productInfo-tab">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                                <div class="col-xxl-3 p-0 col-xl-4 d-flex align-items-center">
                                                    <label class="form-check-label">
                                                        <input id="manage-stock-quantity" class="form-check-input" asp-for="Product.ManageStockQuantity" /> @Html.DisplayNameFor(model => model.Product.ManageStockQuantity)
                                                    </label>
                                                </div>
                                                <div class="col-xl-3 p-0 d-flex align-items-center">
                                                    <label class="form-check-label">
                                                        <input id="manage-sale-quantity" class="form-check-input" asp-for="Product.ManageSaleQuantity" /> @Html.DisplayNameFor(model => model.Product.ManageSaleQuantity)
                                                    </label>
                                                </div>
                                                <div class="col-xxl-6 col-xl-5">
                                                    <label asp-for="Product.Sku" class="form-label"></label>
                                                    <input asp-for="Product.Sku" class="form-control" />
                                                    <span asp-validation-for="Product.Sku" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <hr class="mt-3" style="color:#a1a1a1;" />
                                        <div class="col-6">
                                            <label asp-for="Product.Price" class="form-label"></label>
                                            <input asp-for="Product.Price" class="form-control" value="" />
                                            <span asp-validation-for="Product.Price" class="text-danger"></span>
                                        </div>
                                        <div class="col-6">
                                            <label asp-for="Product.SalePrice" class="form-label"></label>
                                            <input asp-for="Product.SalePrice" class="form-control" />
                                            <span asp-validation-for="Product.SalePrice" class="text-danger"></span>
                                        </div>
                                        <div class="col-6">
                                            <label asp-for="Product.Weight" class="form-label"></label>
                                            <input asp-for="Product.Weight" class="form-control" />
                                            <span asp-validation-for="Product.Weight" class="text-danger"></span>
                                        </div>
                                        <div id="stock-quantity-input" class="col-6 invisible">
                                            <label asp-for="Product.StockQuantity" class="form-label"></label>
                                            <input asp-for="Product.StockQuantity" class="form-control" />
                                            <span asp-validation-for="Product.StockQuantity" class="text-danger"></span>
                                        </div>
                                        <div id="min-sale-quantity" class="col-6" style="display: none;">
                                            <label asp-for="Product.MinimumSaleQuantity" class="form-label"></label>
                                            <input asp-for="Product.MinimumSaleQuantity" class="form-control" />
                                            <span asp-validation-for="Product.MinimumSaleQuantity" class="text-danger"></span>
                                        </div>
                                        <div id="sale-quantity-step" class="col-6" style="display: none;">
                                            <label asp-for="Product.SaleQuantityStep" class="form-label"></label>
                                            <input asp-for="Product.SaleQuantityStep" class="form-control" />
                                            <span asp-validation-for="Product.SaleQuantityStep" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div> @* اطلاعات کلی *@
                                <div class="tab-pane fade" id="v-pills-features" role="tabpanel" aria-labelledby="v-pills-features-tab">
                                    <div class="row mb-3">
                                        <label class="col-md-3 col-form-label">انتخاب نوع ویژگی :</label>
                                        <div class="col-md-8">
                                            <select class="form-select" aria-label="انتخاب نوع ویژگی" id="select-attribute">
                                                <option></option>
                                                @foreach (var item in Model.ProductAttributes)
                                                {
                                                    <option value="@item.Id">@item.Name</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div> @* مشخصات محصول *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> @* Product Informations *@
    </div>
    <div class="col-3 mt-2 h-25">
        <div class="card">
            <div class="card-header">
                وضعیت انتشار محصول
            </div>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted mb-3">وضعیت محصول : @Model.Product.Status.ToDisplay()</h6>
                <div class="mb-2 d-flex">
                    @if (Model.Product.Status != ProductStatus.New)
                    {
                        <button class="btn btn-outline-secondary flex-fill me-1">ذخیره پیش نویس</button>
                        <button class="btn btn-outline-danger flex-fill ms-1">حذف</button>
                    }
                    else
                    {
                        <button class="btn btn-outline-secondary flex-fill">ذخیره پیش نویس</button>
                    }
                </div>
                <input type="submit" id="addproductform" value="منتشر کردن" class="btn btn-primary mb-2 d-block w-100" asp-area="Admin" asp-action="NewProduct" asp-controller="Products" />
            </div>
        </div> @*Product Publish*@
        <div class="card">
            <div class="card-header">
                دسته‌بندی محصول
            </div>
            <div class="card-body">
                <input asp-for="Product.MainCategoryId" type="hidden" />
                <ul class="border border-2 rounded-3 p-3">
                    @foreach (var item in Model.Categories.Where(x => x.ParentId == 0))
                    {
                        <li class="list-group-item mb-1">
                            @if (item.Name == "بدون دسته‌بندی")
                            {
                                <input class="form-check-input me-1" type="checkbox" name="categories" value="@item.Id" id="category-@item.Link" onchange="toggleDisplayLink(this)" checked>
                                <label class="form-check-label" for="category-@item.Link">@item.Name</label>
                                <a href="#" class="float-end" id="link-@item.Id" onclick="updateMainCategory(@item.Id)"><small>دسته‌بندی اصلی</small></a>
                            }
                            else
                            {

                                <input class="form-check-input me-1" type="checkbox" name="categories" value="@item.Id" id="category-@item.Link" onchange="toggleDisplayLink(this)">
                                <label class="form-check-label" for="category-@item.Link">@item.Name</label>
                                <a href="#" class="float-end d-none" id="link-@item.Id" onclick="updateMainCategory(@item.Id)"><small>دسته‌بندی اصلی</small></a>
                            }
                            <ul>
                                @foreach (var cat2 in Model.Categories.Where(y => y.ParentId == item.Id))
                                {
                                    <li class="list-group-item mb-1">
                                        <input class="form-check-input me-1" name="categories" type="checkbox" value="@cat2.Id" id="category-@cat2.Link" onchange="toggleDisplayLink(this)">
                                        <label class="form-check-label" for="category-@cat2.Link">@cat2.Name</label>
                                        <a href="#" class="float-end d-none" id="link-@cat2.Id" onclick="updateMainCategory(@cat2.Id)"><small>دسته‌بندی اصلی</small></a>
                                        <ul>
                                            @foreach (var cat3 in Model.Categories.Where(y => y.ParentId == cat2.Id))
                                            {
                                                <li class="list-group-item mb-1">
                                                    <input class="form-check-input me-1" name="categories" type="checkbox" value="@cat3.Id" id="category-@cat3.Link" onchange="toggleDisplayLink(this)">
                                                    <label class="form-check-label" for="category-@cat3.Link">@cat3.Name</label>
                                                    <a href="#" class="float-end d-none" id="link-@cat3.Id" onclick="updateMainCategory(@cat3.Id)"><small>دسته‌بندی اصلی</small></a>
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div> @*Product Categories*@
        <div class="card">
            <div class="card-header">
                برند
                <span class="float-end">
                    <a href="#" class="card-link">
                        افزودن برند جدید
                    </a>
                </span>
            </div>
            <div class="card-body">
                <select class="form-control" asp-for="Product.BrandId">
                    @foreach (var item in Model.Brands)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>
        </div> @*Product brand*@
        <div class="card">
            <div class="card-header">
                برچسب ها
                <span class="float-end">
                    <a href="#" class="card-link">
                        افزودن برچسب جدید
                    </a>
                </span>
            </div>
            <div class="card-body">
                <select class="form-control w-100" id="tag-select" multiple></select>
            </div>
        </div> @*Product Tags*@
        <div class="card">
            <div class="card-header">
                تصویر اصلی
            </div>
            <div class="card-body">
                <div class="d-flex border rounded-3 align-items-center justify-content-center" style="aspect-ratio : 1 / 1;">
                    <label asp-for="MainImage" style="cursor:pointer">
                        <img src="~/img/upload-image-icon.webp" alt="تصویر اصلی محصول" class="w-100 p-1" id="productMainImage" width="322" height="216"/>
                    </label>
                    <input type="file" class="form-control d-none" accept="image/png, image/jpeg, image/jpg" onchange="showImage(this,'productMainImage')" asp-for="MainImage" />
                </div>
            </div>
        </div> @*Product Main Image*@
        <div class="card">
            <div class="card-header">
                گالری محصول
            </div>
            <div class="card-body">
                <div class="row gx-1" id="gallery-images">
                </div>
                <div class="mt-2">
                    <label for="upload" class="btn btn-primary me-2 mb-4">
                        <span class="d-none d-sm-block">بارگذاری عکس گالری</span>
                        <i class="bx bx-upload d-block d-sm-none"></i>
                        <input type="file" asp-for="GalleryImages" id="upload" class="account-file-input visually-hidden" onchange="showImageGallery(this)" accept="image/png, image/jpeg, image/jpg" multiple>
                    </label>
                </div>
            </div>
        </div> @*Images*@
    </div> @* Side Bar *@
</form>

@section Scripts {
    <partial name="_Tinymce" />
    <script src="~/js/admin-pages/products/newProduct.js" asp-append-version="true"></script>
    <partial name="~/Areas/Admin/Views/Shared/_ValidationScriptsPartial.cshtml" />
}